:root {
  --creamBackground: hsl(30, 38%, 92%);
  --whiteColor: hsl(0, 0%, 100%);
  --lighterGray: hsl(210, 2%, 84%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --darkCyan: hsl(158, 36%, 37%);
}

html,
body {
  margin: 0;
  height: 100vh; /* Important to vertically center a div*/
}

body {
  box-sizing: border-box;
  background-color: var(--creamBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background-color: var(--whiteColor);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px var(--lighterGray);
}

 #image-div {
  width: 47%;
  height: 100%;
  text-align: center;
}

#img-full {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

#img-mobile {
  display: none;
}

#text-div {
  width: 53%;
  height: 100%;
  border: 1px solid transparent;
}

#text-div h1 {
  color: var(--darkGrayishBlue);
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 15px;
  margin: 30px 30px 20px 35px;
}

#text-div h2 {
  color: var(--veryDarkBlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  margin: -5px 15px 0px 35px;
  line-height: 33px;
}

#text-div p {
  color: var(--darkGrayishBlue);
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 15px;
  margin: 20px 30px 40px 35px;
  line-height: 25px;
}

#span-div {
  margin: -22px 135px 0px 35px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#span-div span {
  display: inline-block;
}

#big {
  color: var(--darkCyan);
  font-size: 28px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  margin-right: 25px;
}

#small {
  color: var(--darkGrayishBlue);
  font-family: "Montserrat", serif;
}

#but {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
}

#but button {
  display: inline-block;
  background-color: var(--darkCyan);
  color: var(--whiteColor);
  width: 80%;
  height: 52%;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: "Montserrat", serif;
  font-weight: 700;
  border: 1px solid transparent;
}

#but button i {
  margin-right: 15px;
}

#but button:hover {
  background-color: hsl(159, 38%, 24%);
  cursor: pointer;
}

@media screen and (min-width: 552px) and (max-width: 1240px){
  #main-div{
    height: 55vh;
    width: 83vw;
}
}

@media screen and (min-width: 495px) and (max-width: 551px){
#main-div{
  height: 75vh;
  width: 88vw;
}
}

@media screen and (max-width: 495px) {
  #main-div {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 90vh;
  }

  #image-div {
    width: 100%;
    height: 40%;
  }

  #img-full {
    display: none;
  }

  #img-mobile {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }

  #text-div {
    width: 100%;
    height: 60%;
  }

  #text-div h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 0.9rem;
  }

  #text-div h2 {
    line-height: 30px;
    font-size: 1.7rem;
  }

  #text-div p {
    line-height: 25px;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 12px;
  }

  #big {
    font-size: 1.8rem;
  }

  #but {
    height: 26%;
  }

  #span-div {
    margin-top: 10px;
    margin-bottom: -5px;
  }
} 


